@font-face {
  font-family: "mainFont";
  src: url("./assets/fonts/Outfit-Regular.ttf");
}

* {
  margin: 0;
}

body {
  font-family: "mainFont";
  font-size: 22px;
  color: white;
  background-color: rgb(21, 21, 21);
}