.input {
  width: 400px;
  height: 45px;
  border-radius: 5px;
  border: 3px rgb(133, 127, 127) solid;
  font-size: 22px;
  padding-left: 15px;
  background-color: rgb(16, 16, 16);
  color: white;
  outline: none;
}

.input:focus {
  border-color: white;
}