.input {
  width: 300px;
  height: 45px;
  border: none;
  font-size: 18px;
  padding-left: 15px;
  background-color: rgb(21, 21, 21);
  color: white;
  outline: none;
  border-bottom: 1px white solid;
}

.input:focus {
  border-color: white;
}